<% content_for :page_title, t("devise.invitations.edit.header") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(resource, as: resource_name,
                           url: user_invitation_path(resource_name),
                           html: { method: :put }) do |f| %>
      <%= f.govuk_error_summary %>
      <h1><%= t "devise.invitations.edit.header" %></h1>
      <%= f.hidden_field :invitation_token, readonly: true %>

      <% if f.object.class.require_password_on_accepting %>
        <%= f.govuk_password_field :password,
                                   autocomplete: "new-password" %>

        <%= f.govuk_password_field :password_confirmation,
                                   label: { text: "Confirm your password" },
                                   autocomplete: "new-password" %>
      <% end %>

      <%= f.govuk_submit t("devise.invitations.edit.submit_button") %>
    <% end %>
  </div>
</div>
