<% content_for :page_title, "Change your password" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.govuk_error_summary %>

      <h1>Change your password</h1>

      <%= f.hidden_field :reset_password_token %>

      <%= f.govuk_password_field :password, autocomplete: "new-password" %>

      <%= f.govuk_password_field :password_confirmation,
                                 label: { text: "Confirm your password" },
                                 autocomplete: "new-password" %>

      <%= f.govuk_submit "Update" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
